/*
	Slick slider
*/
html, body {
  margin: 0;
  padding: 0;
}

body {
	background-image: url(../img/tic-tac-toe.png);
}

* {
  box-sizing: border-box;
}

.main-slider {
	width: 100%;
	height: 100%;
}

.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

/*
	Форма регистрации
*/

.send-btn {
	padding-top: 15px;
}

/*
	Форма добавления нового опроса
*/

.preview {
	text-align: center;
	background: none;
	border: 0px;
	box-shadow: none;
}

.preview img {
	height: 150px;
}

.select-answers input[type="text"] {
	visibility: hidden;
}

/*
menu
*/

.nav-header {
	display: inline-block;
	line-height: 57px;
	font-size: 32px;
	/* text-align: left; */
}

nav.navbar {
    margin: 0;
    padding-top: 3px;
}
ul.list-inline {
	margin: 0px;
}

.nav-right {
	float: right;
	/* text-align: right; */
	/* display: inline-block; */
}

.list-inline {
	display: inline-block;
}

.img-circle {
	height: 40px;
}

.notification-btn {
	content: "";
	display: block;
	background: url("../img/svg/notifications_none.svg") no-repeat;
	width: 24px;
	height: 24px;
}

.settings-btn {
	content: "";
	display: block;
	background: url("../img/svg/settings.svg") no-repeat;
	width: 24px;
	height: 24px;
}

.login-btn {
	background-color: #4285f4;
	border: none;
	color: #fff;
	padding: 8px 15px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin-top: 10px;
}

.reg-btn {
	font-size: 16px;
	margin-top: 10px;
}

/*
	Surveys list
*/

.surveys .logo {
	height: 280px;
	/*position: absolute;*/
	bottom: 0px;
}

.surveys .slide {
	position: relative;
}

.surveys .slide .title {
    position: absolute;
    text-align: center;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    width: 100%;
    padding: 10px;
    font-weight: 700;
}

/* кнопка загруки файла */
.btn-tertiary {
	color: #555;
	padding: 0;
	line-height: 40px;
	width: 300px;
	margin: auto;
	display: block;
	border: 2px solid #555;
}

.btn-tertiary:hover,
.btn-tertiary:focus {
	color: #888888;
	border-color: #888888;
}

/* input file style */

.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input-file+.js-labelFile {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 10px;
	cursor: pointer;
}

.input-file+.js-labelFile .icon:before {
	content: "\f093";
}

.input-file+.js-labelFile.has-file .icon:before {
	content: "\f00c";
	color: #5aac7b;
}
