/*
	Slick slider
*/
html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

/*
	Форма регистрации
*/

.send-btn {
	padding-top: 15px;
}

/*
	Форма добавления нового опроса
*/

.preview {
	text-align: center;
	background: none;
	border: 0px;
	box-shadow: none;
}

.preview img {
	height: 150px;
}

.select-answers input[type="text"] {
	visibility: hidden;
}

/*
menu
*/

.nav-header {
	display: inline-block;
	line-height: 57px;
	font-size: 32px;
	/* text-align: left; */
}

.nav-right {
	float: right;
	/* text-align: right; */
	/* display: inline-block; */
}

.list-inline {
	display: inline-block;
}

.img-circle {
	height: 40px;
}

.notification-btn {
	content: "";
	display: block;
	background: url("../img/svg/notifications_none.svg") no-repeat;
	width: 24px;
	height: 24px;
}

.settings-btn {
	content: "";
	display: block;
	background: url("../img/svg/settings.svg") no-repeat;
	width: 24px;
	height: 24px;
}

.login-btn {
	background-color: #4285f4;
	border: none;
	color: #fff;
	padding: 8px 15px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin-top: 10px;
}

.reg-btn {
	font-size: 16px;
	margin-top: 10px;
}

/*
	Surveys list
*/

.surveys .logo {
	height: 280px;
	/*position: absolute;*/
	bottom: 0px;
}

.surveys .slide {
	position: relative;
}

.surveys .slide .title {
    position: absolute;
    text-align: center;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    width: 100%;
    padding: 10px;
    font-weight: 700;
}