//подключенные шрифты
@font-face
	font-family: "Roboto"
  src: url("../fonts/Roboto-Regular.ttf")
  font-weight: normal
  font-style: normal

@font-face
	font-family: "Roboto"
  src: url("../fonts/Roboto-Bold.ttf")
  font-weight: bold
  font-style: normal

//базовые цвета
$main: #4285f4 //акцентный цвет (синий)
$bg:	#eee //цвет фона
$gray: #818a91 //серый

.btn-primary
	background-color: $main
	border-color: $main
	

html, body
	margin: 0
  padding: 0
	background-color: $bg
	font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif

//шапка
header
	min-height: 60px
	background-color: #fff
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);

.nav-header a
	font-weight: 700
	color: $gray
	font-size: 32px
	transition: .3s
	&:hover
		text-decoration: none
		color: $main

.img-circle
	width: 40px
	
.nav-notification i
	margin: 
		top: 1px
	color: $gray
	font-size: 22px
	transition: .3s
	&:hover
		color: $main

//окно нотификаций
.notification-data
	.name-noti
		color: $main
		font-weight: bold
		font-size: 14px
	ul
		font-size: 12px
		color: $gray
		font-weight: bold
		list-style-type: none
		padding: 0
		margin:
			top: 2px
			left: 5px
		li
			margin: 
				top: 4px

.reg-btn
	font-weight: bold
	&:hover
		color: #15489F
	&:active
		box-shadow: none

.login-btn
	transition: .3s
	&:hover
		background-color: #5a95f5
		color: #fff
		box-shadow: 0 2px 5px rgba(0,0,0,0.3)

// .btn-login
// 	transition: .3s
// 	&:hover
// 		background-color: #5a95f5
// 		color: #fff
// 		box-shadow: 0 2px 5px rgba(0,0,0,0.3)
		
	
		

//dropdown меню
.dropdown-menu
	margin: 
		left: -50px
	& li>a:hover
		color: $main	


//белая обертка для блоков
.wrapper
	background-color: #fff
	margin: 
		top: 15px
		bottom: 15px
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16)
	border: 1px solid #ddd
	border-radius: 4px 4px 0 0

.main
	min-height: calc(100vh - 202px)
	height: 100%
	margin: 
		bottom: 20px
// .container
// 	background-color: #fff
// 	margin: 
// 		top: 15px
// 	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16)
//главная страница
// .main-card
// 	min-height: 288px
// 	background-color: #fff


// .preview
// 	width: 280px
// 	height: 158px
// 	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16)
// 	border-radius: 4px
// 	border: 1px solid #dddddd
// 	background-color: #ffffff

// .template-name
// 	text-align: center

//форма входа
.auth
	text-align: center
	input
		margin: 
			top: 10px
	.btn-login
		color: #fff
		background-color: $main
	.login-page
		min-height: 300px

.modal-content
	min-height: 250px

//форма регистрации
.registration
	text-align: center
	input
		margin: 
			top: 10px
	.EULA
		margin: 
			top: 15px

//главная страница
.last-surveys
	font-size: 32px
	color: $gray
	margin: 
		bottom: -10px
		left: 3px

//управление опросами
.addNewSurvey
	margin: 
		top: 10px
	background-color: #fafafa
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16)
	border-radius: 4px 4px 0 0
	padding: 1px 10px

.addbtn
	font-weight: bold
	font-size: 16px
	width: 100%
	transition: .3s
	margin: 
		top: 10px
	background-color: $main
	color: #fff
	&:hover
		color: #fff
		background-color: #1976d2
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16)

.icon-trash
	font-size: 16px
	color: $gray
	&:hover
		color: #f44336

//редактор опросов
.surveys
	label
		margin: 
			top: 10px
	input, select
		margin:
			bottom: 10px

.actions
	padding: 5px
	border-bottom: 1px solid #ddd
	border-top: 1px solid #ddd

.surveys
	margin: 
		top: 20px
	h2
		display: inline

.new_question
	float: right

.first-survey
	border-bottom: 1px solid #ddd

.privacy-password
	visibility: hidden

.actions
	text-align: right	

.saveSuurvey
	margin: 10px

.submit
	text-align: center
	margin:
		top: 10px
// .first-survey
// 	padding: 0

//настройки
.usersettings
	input
		margin: 
			bottom: 10px
	padding: 
		bottom: 10px
	// label
	// 	margin: 
	// 		left: 2px

.email
	padding: 30px

.avatar-settings
	text-align: center
	// width: 200px
	height: 200px
	overflow: hidden
	img
		width: 200px
		border-radius: 3%


//доступ к опросу
.access
	text-align: center
	h2
		font-weight: bold
		color: #818a91
		margin: 30px
		font-size: 32px;
	input
		margin: 5px
	.btn
		margin: 
			bottom: 20px

//footer
footer
	// height: 120px
	background-color: #fff
	box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.16)

.links 
	font-size: 16px
	margin: 
		top: 15px
		bottom: 55px
	text-align: left
	& a
		color: $gray
		transition: .3s
		margin: 
			right: 5px
	& a:hover
		color: $main
		text-decoration: none
	& li
		list-style-type: none
		padding: 0
		margin: 0
	& p
		color: #333
		font-weight: bold
		margin: 
			right: 10px
.helpmail
	text-align: right

.copyright
	line-height: 65px
	font-size: 12px
	color: $gray

.socials
	text-align: right
	margin: 
		top: 15px
		bottom: 10px
	& a:hover
		text-decoration: none
	& i
		font-size: 24px
		color: $gray
		transition: .3s
	.icon-telegram 
		&:hover
			color: #5682a3
	.icon-medium
		&:hover
			color: #02b875
	.icon-github-circled
		&:hover
			color: #24292e
	.icon-vkontakte
		&:hover
			color: #45668e
	.icon-twitter
		&:hover
			color: #1da1f2
			